.PlanInicio{
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(74%2c 97%2c 167%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c444.726C82.048%2c446.255%2c142.393%2c373.296%2c212.625%2c330.85C285.179%2c287%2c374.27%2c263.344%2c419.134%2c191.412C466.1%2c116.111%2c482.102%2c19.841%2c460.253%2c-66.174C439.177%2c-149.145%2c355.597%2c-195.073%2c303.674%2c-263.135C247.281%2c-337.057%2c225.937%2c-443.546%2c141.946%2c-483.424C55.551%2c-524.443%2c-55.721%2c-520.37%2c-138.974%2c-473.3C-218.95%2c-428.082%2c-235.732%2c-323.601%2c-281.563%2c-243.975C-317.779%2c-181.055%2c-372.134%2c-126.805%2c-379.954%2c-54.629C-387.657%2c16.465%2c-353.721%2c82.925%2c-324.029%2c147.979C-294.331%2c213.047%2c-260.339%2c274.712%2c-207.591%2c323.018C-147.214%2c378.312%2c-81.857%2c443.2%2c0%2c444.726' fill='%233b4e86'%3e%3c/path%3e%3cpath d='M1440 1218.529C1564.228 1241.58 1706.162 1203.127 1796.624 1114.9180000000001 1884.32 1029.406 1866.8690000000001 887.985 1899.938 770.047 1927.138 673.038 1975.4569999999999 583.995 1973.7359999999999 483.26 1971.853 373.03999999999996 1947.412 264.257 1889.691 170.341 1825.2 65.40899999999999 1749.196-58.77200000000005 1627.8029999999999-79.59799999999996 1505.867-100.51700000000005 1414.632 34.48599999999999 1295.662 68.42899999999997 1175.28 102.77499999999998 1007.9010000000001 20.187000000000012 931.223 119.142 853.147 219.901 951.977 365.519 967.4069999999999 492.051 978.4449999999999 582.571 976.563 671.605 1008.986 756.837 1043.229 846.855 1093.644 926.2719999999999 1159.367 996.673 1242.422 1085.6399999999999 1320.333 1196.324 1440 1218.529' fill='%23667bbb'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.PlanInicio section{
    display: inline-block;
    vertical-align: top;
    width: 48%;
}

/* .section01{
    width: 47%;

}
.section02{
    width: 47%;
} */

.cartaPago{
    background-color: white;
    width: 350px;
    margin-top: 70px;
    margin-left: 90px;
    height: 510px;
    place-items: center;
    border-radius: 20px; /* Puedes ajustar el valor según tu preferencia */
    overflow: hidden; /* Asegura que el contenido dentro del article no sobresalga de las esquinas curvadas */
        /* Otros estilos según sea necesario */
    text-align: center;
    font-family: 'Helvetica';
}

.letraPrincipal{
    margin-top: 20px;
    font-size: 1.8em;
    text-align: center;
}

.descripcion{
    font-size: 0.7em;
    color: gray;
    margin-bottom: 10px;
}
.elementosDesc{
    margin-top: 50px;
}
.elementosDesc li{
    margin-top: 20px;
    margin-left: 70px;
    list-style: circle;
    text-align: left;
}
.nito{
    font-weight: bold;
}

.boton{
    margin-top: 60px;
    color: #4a61a7;
    background-color: #cdb33d;
    width: 350px;
    height: 80px;
    border-bottom-left-radius: 20px; /* Radio de curvatura de la esquina inferior izquierda */
    border-bottom-right-radius: 20px; 
    font-family: 'Helvetica';
    padding-bottom: 20px;
}

.cartaDescriptiva{
    background-color: white;
    height: 500px;
    margin-top: 69px;
    /* border-radius: 20px; 
    overflow: hidden;  */
    font-family: 'Helvetica';
    background-color: #4a61a7;
    color: white;
    margin-left: -110px;
    margin-right: 17px;
    text-align: center;
}
.imgRobots{
    height: 300px;
    margin-left: 100px;
}
.imgRobotPrueba{
    height: 400px;
    margin-left: 210px;
    margin-top: -50px;
}

.descCompra{
    font-size: 1.3em;
}
.descProducto{
    font-size: 0.9em;
}

