
@tailwind base;
@tailwind components;
@tailwind utilities;
.fondo-redondeado{
    border-radius: 10px 5px 0px 40px;
}
/*
globales para manejar el zoom de la pagina

*/
html, body {
    height: 100%;
  }

  body {
    display: flex;
    justify-content: center;
   
  }
  .ancho{
    width: 90%;
    max-width: 88rem;
  }

