
@tailwind base;
@tailwind components;
@tailwind utilities;
.fondo-redondeado{
    border-radius: 10px 5px 0px 40px;
}
/*
globales para manejar el zoom de la pagina

*/
html, body {
    height: 100%;
  }

  body {
    display: flex;
    justify-content: center;
   
  }
  .ancho{
    width: 90%;
    max-width: 88rem;
  }
  .altura-robot{
    height: 50rem;
  }
  .posicionamiento{
   
    top: 27.5rem;
    left: 17.5rem;
  }
  .largo{
    max-width: 90rem;
    width: 90rem;
  }
  .posicionar-input{
    top: 10rem;
    left: 10rem;
  }
  .sombra{
    box-shadow: -2px 2px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 2px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 2px 25px 0px rgba(0,0,0,0.75);
  }
.ancho-maximo{
  max-width: 52rem;
}
.fondo{
  background-image: url('../src/img/robotsColores.jpg');
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 20px 0 0;
  margin-bottom: 5rem;
  background-position:center top;
  background-color: rgba(0, 0, 0, 0.7);
}
.redondeo-imagen {
  width: 100%;
  border-radius: 30px 30px 0 0;
  height: 20rem;
  background-position: center top;
  background-image: url('../src/img/robotsColores.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.oscurecer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Negro con 70% de opacidad */
}

.anchura{
  width: 30rem;
}
.letra{
  font-size: 1.3rem;
}
.verde{
  position:relative;
  top: 1rem;
  height: 97.5%;
  margin-left: 2rem;
  border-radius: 30rem 0 0 0 ;

}
.naranja{
  position:relative;
  top: 3rem;
  height: 44.6rem;
  margin-left: 2rem;
  border-radius: 31rem 0 0 0 ;
}