
@tailwind base;
@tailwind components;
@tailwind utilities;
.fondo-redondeado{
    border-radius: 10px 5px 0px 40px;
}
/*
globales para manejar el zoom de la pagina

*/
html, body {
    height: 100%;
  }

  body {
    display: flex;
    justify-content: center;
   
  }
  .ancho{
    width: 90%;
    max-width: 88rem;
  }
  .altura-robot{
    height: 50rem;
  }
  .posicionamiento{
   
    top: 27.5rem;
    left: 15.5rem;
  }
  .largo{
    max-width: 90rem;
    width: 90rem;
  }
  .posicionar-input{
    top: 10rem;
    left: 10rem;
  }
  .sombra{
    box-shadow: -2px 2px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 2px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 2px 25px 0px rgba(0,0,0,0.75);
  }